target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# ========================
# IDE: IntelliJ IDEA
# ========================
.idea/
*.iml
*.iws
out/

# ========================
# Logs and temp files
# ========================
*.log
*.tmp
tmp/
*.swp

Thumbs.db